body {
  background: url("https://wallpaperaccess.com/full/1130622.gif") no-repeat center fixed;
  background-size: cover;
  margin: 0;
}

.links {
  text-decoration: none;
  color: white;
}

div {
  margin: 20px;
  color: white;
  font-family: "Nasa", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.directory-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.directories {
  margin: 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h1:hover {
  color: red;
}

.rocket {
  position: absolute;
  bottom: 0;
  right: 100px;
  transform: translateX(50%);
  width: 180px;
  height: auto;
}

.rocket-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 400px;
  margin: auto;
  animation: fly 5s linear infinite;
  z-index: -200;
}

@keyframes fly {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 100vh;
  }
}

.saturn-container {
  z-index: 250;
  position: absolute;
  top: 0;
  left: 0;
}

.saturn {
  width: 10rem;
}


@media only screen and (max-width: 768px) {
  .rocket {
    right: 50px;
    transform: translateX(50%);
    width: 80px;

  }
}