body {
    background: url("https://wallpaperaccess.com/full/1130622.gif") no-repeat center fixed;
    /* height: 100vh;
    width: 100vw;
    background-repeat: no-repeat; */
    background-size: cover;
    margin: 0;
}

div {
    /* background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid white;
    /* padding: 10px; */
    margin: 20px; 
    color: white;
    font-family: 'Nasa', sans-serif;
    font-size: 3rem;                                           
}

.directories {
    font-size: 2rem;
    display: none;
}

.hidden {
    display: none;
}

h1 {
    font-size: 2rem;
}

.rocket {
    position: absolute;
    bottom: 0;
    right: 100px;
    transform: translateX(50%);
    width: 180px;
    height: auto;
}
  
.rocket-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 400px;
    margin: auto;
    animation: fly 5s linear infinite;
}
  
@keyframes fly {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 100vh;
    }
}